@use '../abstracts/mixins'as *;
@use '../abstracts/colors'as *;
@use '../abstracts/mediaQuery'as *;

.forgot_password {
    margin-top: 70px;

    .container {
        margin: 0 auto;
        max-width: 1280px;
        padding: 2rem 12px 4rem 12px;
        background-color: #fff;

        .heading {
            text-align: center;

            h1 {
                color: #E20031;
                font-weight: 600;
                line-height: 150%;
            }

            p {
                font-weight: 400;
                margin-bottom: 32px;
            }
        }

        .form-container {
            max-width: 600px;
            margin: 0 auto;

            .form {
                padding: 0 32px;

                .relative {
                    position: relative;

                    .absolute-label {
                        position: absolute;
                        top: -6px;
                        left: 10px;
                        background: $WHITE;
                        // font-weight: 600;
                        color: #333;
                    }

                    .form-input {
                        height: 50px;
                    }
                }

                .btn-group {
                    margin-top: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .btn-action {
                        height: 36px;
                        min-width: 64px;
                        padding: 0 16px;
                        width: 49%;
                        cursor: pointer;
                        border-radius: 4px;
                    }

                    .back {
                        background-color: #f5f5f5;
                    }

                    .continue {
                        background-color: #EE0033;
                        color: #ffffff;
                    }
                }
            }

        }
    }
}