@use '../abstracts/mixins'as *;
@use '../abstracts/colors'as *;
@use '../abstracts/mediaQuery'as *;

.forgot_password {
	margin-top: 70px;

	.container {
		margin: 0 auto;
		max-width: 1280px;
		padding: 2rem 12px 4rem 12px;
		background-color: #fff;

		.heading {
			text-align: center;

			h1 {
				color: #E20031;
				font-weight: 600;
				line-height: 150%;
			}

			p {
				font-weight: 400;
				margin-bottom: 32px;
			}
		}

		.form-container {
			max-width: 600px;
			margin: 0 auto;

			.form {
				padding: 0 32px;

				@include mq('sm') {
					padding: 0;
				}

				.relative {
					position: relative;

					.absolute-label {
						position: absolute;
						top: -6px;
						left: 10px;
						background: $WHITE;
						// font-weight: 600;
						z-index: 1;
						color: #333;
					}

					.form-input {
						height: 50px;
					}
				}

				.password {
					position: relative;
				}


				.pass-list {
					&__text {
						font-weight: 600;
						color: #e50533;
					}

					&__item {
						display: flex;
						align-items: center;
						gap: 6px;
					}
				}
			}
		}


	}
}

.otp-input {
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 0 2px;
	font-size: 20px;
	font-weight: 300;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.1490196078);
	text-align: center;
}

/* Background colour of an input field with value */
// .otp-input.is-complete {
// 	background-color: #e4e4e4;
// }

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input::placeholder {
	font-size: 14px;
	text-align: center;
	font-weight: 300;
}

.otp-header {
	margin: 24px 0 6px 0;
	text-align: center;
	font-size: 24px;
	color: #E20031;
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.otp-container {
	display: flex;
	justify-content: center;
}

.btn-group {
	margin-top: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.btn-action {
		height: 36px;
		min-width: 64px;
		padding: 0 16px;
		width: 49%;
		cursor: pointer;
		border-radius: 6px;
	}

	.back {
		background-color: #f5f5f5;
	}

	.continue {
		background-color: #EE0033;
		color: #ffffff;
	}
}