.profile-input {
  margin-bottom: 12px;

  .form-label {
    font-size: 12px;
  }

  .form-control {
    margin-top: 6px;

    .form-input {
      width: 100%;
      padding: 6px 12px;
      background: 0 0;
      border: none;
      border-radius: 6px;
      color: #000000de;
      font-weight: 400;
      letter-spacing: 0.00937em;
      line-height: 28px;
      outline: 0;
      text-decoration: inherit;
      text-transform: inherit;
      // background-color: #f2f6f8;
      border: 1px solid #00000026;
      height: 40px;
    }

    .error-border {
      border: 1px solid #c10015;
    }
  }
}