.recommend-lesson {
    padding: 12px;
    border: 5px solid #f0f3ff;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 24px;
    align-items: center;

    &-left {
        height: 60px;
        min-width: 60px;
        border-radius: 50%;
        background-color: #f0f3ff;
    }

    &-right {
        flex: 1 1 auto;

        .lesson-name {
            font-size: 16px;
            font-weight: 600;
        }

        .lesson-level {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 12px;

            &__name {
                font-family: 'Inter Light';
                font-size: 12px;
                font-weight: 600;
            }

            .lv-display {
                display: flex;
                align-items: center;
                gap: 4px;

                &__content {
                    width: 15px;
                    height: 3px;
                    background-color: #f0f3ff;
                    border-radius: 1px;
                }

                .active {
                    background-color: #6360ff;
                }
            }
        }

        .lesson-total {
            font-family: 'Inter Light';
            font-size: 12px;
            font-weight: 600;

            &__count {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}