// black
$BLACK: #000000;
$BLACK_06: #060F27;

// gray
$GRAY_63: #63647F;
$GRAY_E5: #E5EAEC;
$GRAY_F0: #F0F3FF;
$GRAY_E2: #E2E2FE;

// red
$RED_FF: #FF8181;

// yellow
$YELLOW_F9: #F9C220;

// orange
$ORANGE_FF: #FFA149;

// green
$GREEN_7D: #7DC579;

// blue
$BLUE_63: #6360FF;

// white
$WHITE: #FFFFFF;