@use '../abstracts/colors'as *;
@use '../abstracts/mediaQuery'as *;

body {
  font-family: 'Pretendard' !important;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}

#app {
  line-height: 1;
  font-family: 'Pretendard' !important;
  height: 100%;
  box-sizing: border-box;
  color: #222222;
  font-size: 14px;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

*:hover {
  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}

.ant-drawer-body {
  padding: 0 !important;
}

.ant-notification-notice {
  border-radius: 8px;
}

.anticon {
  height: 100%;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.ant-modal-wrap {
  overflow: hidden !important;
}

.full-modal {
  .ant-modal {
    padding: 0 !important;
    max-width: 100%;
    top: 0;
    // padding-bottom: 0;
    margin: 0;
  }

  .ant-modal-content {
    padding: 0 !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    // height: calc(100vh);
    background-color: #000;
  }

  .ant-modal-body {
    padding: 0;
    flex: 1;
  }
}