@use '../abstracts/colors'as *;
@use '../abstracts/mediaQuery'as *;

body {
  font-family: 'Satoshi';

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
  }
}

#app {
  line-height: 1;
  font-family: 'Satoshi';
  height: 100%;
  box-sizing: border-box;
  color: #222222;
  font-size: 14px;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

*:hover {
  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}

.ant-drawer-body {
  padding: 0 !important;
}