@use '../abstracts/colors'as *;

@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/MJ Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi Med';
  src: url('@/assets/fonts/Satoshi-Medium.otf');
}

@font-face {
  font-family: 'Satoshi Bold';
  src: url('@/assets/fonts/MJ Satoshi-Bold.ttf');
}

@font-face {
  font-family: 'FS Magistral';
  src: url('@/assets/fonts/FS Magistral/FS Magistral-Medium.ttf');
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
}

.limit-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.word-break {
  word-break: break-all;
}

$lines: ('one': 1,
  'two': 2,
  'four': 4);

@each $lineName,
$lineNum in $lines {
  .#{$lineName}-line {
    @extend .limit-line;
    -webkit-line-clamp: $lineNum;
    line-clamp: $lineNum;
  }
}